<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-theme="light" th:fragment="user-layout(content, title)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">LibMan User</title>
    <link rel="stylesheet" th:href="@{/assets/css/pico.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
</head>

<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>

<main class="container">
    <section th:replace="${content}"></section> <!-- Dynamic content goes here -->
</main>

<footer>
    <p>&copy; 2025 LibMan. All rights reserved.</p>
</footer>
</body>
</html>